<a href="https://colab.research.google.com/github/BragatteMAS/Pandas_skills/blob/master/Python_Programmer_Youtube_Channel_Tutorial/1_Exploring_Df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as  np
import pandas as pd
import os
import urllib
%matplotlib inline

In [11]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")

In [12]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data/covid/WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x7f25e249b7f0>)

In [13]:
df = pd.read_csv(csv_path)

In [14]:
df

      Date_reported  Country_code  ...  New_deaths  Cumulative_deaths
0        2020-02-24            AF  ...           0                  0
1        2020-02-25            AF  ...           0                  0
2        2020-02-26            AF  ...           0                  0
3        2020-02-27            AF  ...           0                  0
4        2020-02-28            AF  ...           0                  0
...             ...           ...  ...         ...                ...
29650    2020-07-17            ZW  ...           3                 23
29651    2020-07-18            ZW  ...           1                 24
29652    2020-07-19            ZW  ...           1                 25
29653    2020-07-20            ZW  ...           0                 25
29654    2020-07-21            ZW  ...           1                 26

[29655 rows x 8 columns]

In [19]:
df_index = df.index
df_index

RangeIndex(start=0, stop=29655, step=1)

In [21]:
df_cols = df.columns
df_cols

Index(['Date_reported', ' Country_code', ' Country', ' WHO_region',
       ' New_cases', ' Cumulative_cases', ' New_deaths', ' Cumulative_deaths'],
      dtype='object')

In [22]:
df_index.values

array([    0,     1,     2, ..., 29652, 29653, 29654])

In [23]:
df.values

array([['2020-02-24', 'AF', 'Afghanistan', ..., 1, 0, 0],
       ['2020-02-25', 'AF', 'Afghanistan', ..., 1, 0, 0],
       ['2020-02-26', 'AF', 'Afghanistan', ..., 1, 0, 0],
       ...,
       ['2020-07-19', 'ZW', 'Zimbabwe', ..., 1478, 1, 25],
       ['2020-07-20', 'ZW', 'Zimbabwe', ..., 1611, 0, 25],
       ['2020-07-21', 'ZW', 'Zimbabwe', ..., 1713, 1, 26]], dtype=object)

In [25]:
df.dtypes

Date_reported         object
 Country_code         object
 Country              object
 WHO_region           object
 New_cases             int64
 Cumulative_cases      int64
 New_deaths            int64
 Cumulative_deaths     int64
dtype: object

In [26]:
df.shape

(29655, 8)

In [27]:
df.head()

  Date_reported  Country_code  ...  New_deaths  Cumulative_deaths
0    2020-02-24            AF  ...           0                  0
1    2020-02-25            AF  ...           0                  0
2    2020-02-26            AF  ...           0                  0
3    2020-02-27            AF  ...           0                  0
4    2020-02-28            AF  ...           0                  0

[5 rows x 8 columns]

In [28]:
df.tail()

      Date_reported  Country_code  ...  New_deaths  Cumulative_deaths
29650    2020-07-17            ZW  ...           3                 23
29651    2020-07-18            ZW  ...           1                 24
29652    2020-07-19            ZW  ...           1                 25
29653    2020-07-20            ZW  ...           0                 25
29654    2020-07-21            ZW  ...           1                 26

[5 rows x 8 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29655 entries, 0 to 29654
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date_reported       29655 non-null  object
 1    Country_code       29525 non-null  object
 2    Country            29655 non-null  object
 3    WHO_region         29655 non-null  object
 4    New_cases          29655 non-null  int64
 5    Cumulative_cases   29655 non-null  int64
 6    New_deaths         29655 non-null  int64
 7    Cumulative_deaths  29655 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.8+ MB

In [31]:
df.describe()

          New_cases   Cumulative_cases    New_deaths   Cumulative_deaths
count  29655.000000       2.965500e+04  29655.000000        29655.000000
mean     490.240904       2.375698e+04     20.480796         1295.601787
std     2897.817256       1.402746e+05    125.154056         7425.461000
min   -29726.000000       1.000000e+00   -514.000000            0.000000
25%        0.000000       3.900000e+01      0.000000            0.000000
50%        6.000000       5.210000e+02      0.000000           10.000000
75%      100.000000       4.863500e+03      2.000000          104.000000
max    74354.000000       3.748248e+06   6409.000000       139964.000000

In [33]:
df[" Country"]

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
29650       Zimbabwe
29651       Zimbabwe
29652       Zimbabwe
29653       Zimbabwe
29654       Zimbabwe
Name:  Country, Length: 29655, dtype: object

In [35]:
df[" Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia',
       'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo[1]', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'RÃ©union',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint BarthÃ©lemy',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turks and Caicos Islands', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [36]:
#Cleaning the blankspaces
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [37]:
df.Country #wtihiut dotspaces coulf acess without brackets the column info

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
29650       Zimbabwe
29651       Zimbabwe
29652       Zimbabwe
29653       Zimbabwe
29654       Zimbabwe
Name: Country, Length: 29655, dtype: object

In [38]:
df.loc[1:4, "Country"]

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [39]:
df.loc[1:8, ["Country","New_cases"]]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [40]:
df.Country == 'United States of America'

0        False
1        False
2        False
3        False
4        False
         ...
29650    False
29651    False
29652    False
29653    False
29654    False
Name: Country, Length: 29655, dtype: bool

In [41]:
df[df.Country == "United States of America"]

      Date_reported Country_code  ... New_deaths Cumulative_deaths
28421    2020-01-20           US  ...          0                 0
28422    2020-01-21           US  ...          0                 0
28423    2020-01-22           US  ...          0                 0
28424    2020-01-23           US  ...          0                 0
28425    2020-01-24           US  ...          0                 0
...             ...          ...  ...        ...               ...
28600    2020-07-17           US  ...        946            136753
28601    2020-07-18           US  ...        921            137674
28602    2020-07-19           US  ...        917            138591
28603    2020-07-20           US  ...        877            139468
28604    2020-07-21           US  ...        496            139964

[184 rows x 8 columns]

In [42]:
df[df.New_deaths > 1000]

      Date_reported Country_code  ... New_deaths Cumulative_deaths
3761     2020-05-21           BR  ...       1179             17971
3763     2020-05-23           BR  ...       1188             20047
3764     2020-05-24           BR  ...       1001             21048
3768     2020-05-28           BR  ...       1039             24512
3769     2020-05-29           BR  ...       1086             25598
...             ...          ...  ...        ...               ...
28557    2020-06-04           US  ...       1043            106051
28559    2020-06-06           US  ...       1035            107911
28560    2020-06-07           US  ...       1127            109038
28564    2020-06-11           US  ...       1208            111978
28580    2020-06-27           US  ...       2516            124161

[110 rows x 8 columns]

In [43]:
df.loc[df.New_deaths > 1000, ["New_deaths", "Country"]]

       New_deaths                   Country
3761         1179                    Brazil
3763         1188                    Brazil
3764         1001                    Brazil
3768         1039                    Brazil
3769         1086                    Brazil
...           ...                       ...
28557        1043  United States of America
28559        1035  United States of America
28560        1127  United States of America
28564        1208  United States of America
28580        2516  United States of America

[110 rows x 2 columns]

In [45]:
df.loc[(df.New_deaths > 1000) & (df.Country_code == "US"), ["Date_reported", "Country", "New_cases", "New_deaths","Cumulative_deaths"]]

      Date_reported                   Country  ...  New_deaths  Cumulative_deaths
28496    2020-04-04  United States of America  ...        1061               5854
28497    2020-04-05  United States of America  ...        1166               7020
28498    2020-04-06  United States of America  ...        1338               8358
28499    2020-04-07  United States of America  ...        1201               9559
28500    2020-04-08  United States of America  ...        1286              10845
28501    2020-04-09  United States of America  ...        1895              12740
28502    2020-04-10  United States of America  ...        1925              14665
28503    2020-04-11  United States of America  ...        1931              16596
28504    2020-04-12  United States of America  ...        1920              18516
28505    2020-04-13  United States of America  ...        1928              20444
28506    2020-04-14  United States of America  ...        1528              21972
28507    2020-04-15  United States of America  ...        1504              23476
28508    2020-04-16  United States of America  ...        2395              25871
28509    2020-04-17  United States of America  ...        6409              32280
28510    2020-04-18  United States of America  ...        2018              34298
28511    2020-04-19  United States of America  ...        2438              36736
28512    2020-04-20  United States of America  ...        1776              38512
28513    2020-04-21  United States of America  ...        1801              40313
28514    2020-04-22  United States of America  ...        2154              42467
28515    2020-04-23  United States of America  ...        2575              45042
28516    2020-04-24  United States of America  ...        2390              47432
28517    2020-04-25  United States of America  ...        1742              49174
28518    2020-04-26  United States of America  ...        2151              51325
28519    2020-04-27  United States of America  ...        1964              53289
28520    2020-04-28  United States of America  ...        1109              54398
28521    2020-04-29  United States of America  ...        1322              55720
28522    2020-04-30  United States of America  ...        2010              57730
28523    2020-05-01  United States of America  ...        2902              60632
28524    2020-05-02  United States of America  ...        2005              62637
28525    2020-05-03  United States of America  ...        5000              67637
28529    2020-05-07  United States of America  ...        2475              70556
28530    2020-05-08  United States of America  ...        1968              72524
28531    2020-05-09  United States of America  ...        2840              75364
28532    2020-05-10  United States of America  ...        1552              76916
28533    2020-05-11  United States of America  ...        1736              78652
28535    2020-05-13  United States of America  ...        1061              80695
28536    2020-05-14  United States of America  ...        1424              82119
28537    2020-05-15  United States of America  ...        1700              83819
28538    2020-05-16  United States of America  ...        2041              85860
28539    2020-05-17  United States of America  ...        1320              87180
28540    2020-05-18  United States of America  ...        1394              88574
28543    2020-05-21  United States of America  ...        1324              91527
28544    2020-05-22  United States of America  ...        1396              92923
28545    2020-05-23  United States of America  ...        1088              94011
28546    2020-05-24  United States of America  ...        1852              95863
28547    2020-05-25  United States of America  ...        1046              96909
28551    2020-05-29  United States of America  ...        1415             100304
28552    2020-05-30  United States of America  ...        1263             101567
28553    2020-05-31  United States of America  ...        1073             102640
28557    2020-06-04  United States of America  ...        1043             106051
28559    2020-06-06  United States of America  ...        1035             107911
28560    2020-06-07  United States of America  ...        1127             109038
28564    2020-06-11  United States of America  ...        1208             111978
28580    2020-06-27  United States of America  ...        2516             124161

[54 rows x 5 columns]

In [48]:
df.loc[df.Country_code == 'US' , ['New_cases'] ].max()

New_cases    74354
dtype: int64

In [49]:
df.loc[df.Country_code == "US", ["New_cases"] ].min ()

New_cases    0
dtype: int64

In [50]:
df.loc[df.Country_code == "US", ["New_cases"] ].sum()

New_cases    3748248
dtype: int64

In [51]:
df.loc[df.Country_code == "US", ["New_deaths"] ].sum()

New_deaths    139964
dtype: int64

In [52]:
df.loc[df.Country_code == 'US' , ['Cumulative_cases'] ].max()

Cumulative_cases    3748248
dtype: int64

In [54]:
df.New_deaths.idxmax()

28509

In [58]:
df.loc[df.New_deaths .idxmax(), ["Date_reported", "Country", "New_cases", "New_deaths","Cumulative_deaths"]]

Date_reported                      2020-04-17
Country              United States of America
New_cases                               28711
New_deaths                               6409
Cumulative_deaths                       32280
Name: 28509, dtype: object

In [60]:
df[df.New_deaths < 0]

      Date_reported Country_code  ... New_deaths Cumulative_deaths
1485     2020-06-04           AU  ...         -1               102
4334     2020-07-13           BF  ...         -1                53
6098     2020-06-09           CG  ...         -2                20
6884     2020-05-14           CY  ...         -6                17
7031     2020-05-19           CZ  ...         -1               297
7078     2020-07-05           CZ  ...         -1               351
7079     2020-07-06           CZ  ...         -3               348
7303     2020-05-13           DK  ...         -6               527
9507     2020-05-20           FR  ...       -218             27972
11191    2020-07-06           GP  ...         -2                14
11385    2020-05-05           GT  ...         -2                17
11709    2020-07-04           GN  ...        -13                33
13355    2020-05-26           IE  ...         -2              1606
13833    2020-06-25           IT  ...        -31             34644
17561    2020-06-16           YT  ...         -1                28
21821    2020-05-05           PR  ...        -43                54
23887    2020-05-10           ST  ...         -1                 4
25519    2020-05-23           SS  ...         -1                 5
28527    2020-05-05           US  ...       -514             67279
29632    2020-06-29           ZW  ...         -1                 6

[20 rows x 8 columns]

In [61]:
df['pct_cases'] = (df['New_cases'] / df['Cumulative_cases']) * 100
df

      Date_reported Country_code  ... Cumulative_deaths   pct_cases
0        2020-02-24           AF  ...                 0  100.000000
1        2020-02-25           AF  ...                 0    0.000000
2        2020-02-26           AF  ...                 0    0.000000
3        2020-02-27           AF  ...                 0    0.000000
4        2020-02-28           AF  ...                 0    0.000000
...             ...          ...  ...               ...         ...
29650    2020-07-17           ZW  ...                23   20.044053
29651    2020-07-18           ZW  ...                24    4.084507
29652    2020-07-19           ZW  ...                25    3.924222
29653    2020-07-20           ZW  ...                25    8.255742
29654    2020-07-21           ZW  ...                26    5.954466

[29655 rows x 9 columns]

[Pandas_Py_tutorial](https://www.youtube.com/watch?v=MYU9W34dZh0&feature=em-uploademail)