# Webscapping JHU data
@Bragatte [Ref](https://gist.github.com/jvfe/a532661a067d5f17db932bfae86bd349)actor[ing](https://github.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning)

In [1]:
import pandas as pd
import datetime

In [2]:
def get_covid_data_jhu(dt_ini, dt_fim, us_columns = True, country = None):
    
    date_range = pd.date_range(start = dt_ini, end = dt_fim).to_list()
    string_range = [str(d.date().strftime("%m-%d-%Y")) for d in date_range]
    
    full_data_list = []
    for dat in string_range:
        url = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{dat}.csv"
        current_data = pd.read_csv(url)
        full_data_list.append(current_data)
    
    full_df = pd.concat(full_data_list)
    
    if country:
        full_df = full_df[full_df['Country_Region'].isin(country)]
        
    if not us_columns:
        full_df.drop(full_df.columns[0:3], axis = 1, inplace = True)
        
    return full_df

In [3]:
get_covid_data_jhu

In [4]:
df_br = get_covid_data_jhu("2021-06-01", "2021-06-14", us_columns = True, country = ['Brazil'])
df_br.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
41,NaN,NaN,Acre,Brazil,2021-06-02 04:24:34,-9.0238,-70.8120,82581,1669,73913.0,6999.0,"Acre, Brazil",9363.615232,2.021046
42,NaN,NaN,Alagoas,Brazil,2021-06-02 04:24:34,-9.5713,-36.7820,193581,4768,184699.0,4114.0,"Alagoas, Brazil",5800.428303,2.463052
43,NaN,NaN,Amapa,Brazil,2021-06-02 04:24:34,0.9020,-52.0030,112243,1702,88251.0,22290.0,"Amapa, Brazil",13271.714056,1.516353
44,NaN,NaN,Amazonas,Brazil,2021-06-02 04:24:34,-3.4168,-65.8561,387038,12996,329224.0,44818.0,"Amazonas, Brazil",9338.374756,3.357810
45,NaN,NaN,Bahia,Brazil,2021-06-02 04:24:34,-12.5797,-41.7007,1016480,21329,979917.0,15234.0,"Bahia, Brazil",6834.368493,2.098320

## Rollingmean

In [12]:
df_br_f = df_br.groupby(['Country_Region', 'Province_State'])['Deaths'].rolling(window=5).mean().reset_index()
df_br_f.head(15)

   Country_Region Province_State  level_2  Deaths
0          Brazil           Acre       41     NaN
1          Brazil           Acre       41     NaN
2          Brazil           Acre       41     NaN
3          Brazil           Acre       41     NaN
4          Brazil           Acre       41  1678.6
5          Brazil           Acre       41  1682.8
6          Brazil           Acre       41  1686.0
7          Brazil           Acre       41  1689.4
8          Brazil           Acre       41  1692.4
9          Brazil           Acre       41  1695.0
10         Brazil           Acre       41  1697.2
11         Brazil           Acre       41  1700.2
12         Brazil           Acre       41  1703.2
13         Brazil           Acre       41  1707.6
14         Brazil        Alagoas       42     NaN

## Moving mean for second wave

In [ ]:
comparison_interval = []

In [ ]:
for br in df_secwave.index:
    for ch in df_chile.index:
        if br == ch:
            comparison_interval.append(br * avgmeans) #create func for calculate roleavgmean

In [ ]:
comparison_interval

List comprehension

In [ ]:
test = (rollingmean for death in comparison_interval)

[Ref_source_JHU_data](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data)
* csse_covid_19_daily_reports

[Ref_source_JHU_timeseries](https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series)
* time_series_covid19_deaths_global.csv
  
[Ref_R](https://gist.github.com/jvfe/a532661a067d5f17db932bfae86bd349)