https://www.youtube.com/watch?v=RlIiVeig3hc

# 1. What is pandas?

In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'0.25.0'

In [12]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.18.0-25-generic
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : pt_BR.UTF-8

pandas           : 0.25.0
numpy            : 1.16.4
pytz             : 2018.3
dateutil         : 2.8.0
pip              : 19.1.1
setuptools       : 41.0.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.3.4
html5lib         : 0.999999999
pymysql          : None
psycopg2         : None
jinja2           : 2.10.1
IPython          : 7.6.1
pandas_datareader: None
bs4              : 4.6.0
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.3.4
matplotlib       : 3.1.0
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : None
sqlalchemy       : None
tables           : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None

# 2.Create an example DataFrame

In [13]:
df = pd.DataFrame({'col one':[100,200], 'col two':[300,400]})
df

   col one  col two
0      100      300
1      200      400

In [14]:
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.699203,0.689638,0.495622,0.156893,0.860920,0.394336,0.206479,0.133950
1,0.311775,0.075724,0.648646,0.612953,0.550141,0.396521,0.271890,0.256577
2,0.513740,0.519282,0.420208,0.164592,0.682859,0.739534,0.896903,0.488257
3,0.527752,0.049472,0.162633,0.815875,0.211578,0.312456,0.648372,0.677754

In [15]:
pd.DataFrame(np.random.rand(4,8), columns=list('abcdefgh'))

,a,b,c,d,e,f,g,h
0,0.112024,0.434712,0.788232,0.414797,0.079650,0.969063,0.454619,0.891158
1,0.390922,0.465474,0.589795,0.301251,0.145656,0.264482,0.735232,0.276282
2,0.272367,0.965282,0.096281,0.931222,0.313341,0.224337,0.646050,0.067988
3,0.965350,0.467328,0.408893,0.328988,0.272449,0.536656,0.855425,0.466599

# 3.Rename columns

In [16]:
df

   col one  col two
0      100      300
1      200      400

In [17]:
df = df.rename({'col one': 'col_one', 'col two':'col_two'}, axis='columns')

In [18]:
df

   col_one  col_two
0      100      300
1      200      400

In [19]:
df.columns = df.columns.str.replace('','_')

In [20]:
df

   _c_o_l___o_n_e_  _c_o_l___t_w_o_
0              100              300
1              200              400

In [21]:
df.add_prefix('x,')

   x,_c_o_l___o_n_e_  x,_c_o_l___t_w_o_
0                100                300
1                200                400

In [22]:
df.add_suffix(',y')

   _c_o_l___o_n_e_,y  _c_o_l___t_w_o_,y
0                100                300
1                200                400

# Reverse row order

In [23]:
drinks.head()

NameError: name 'drinks' is not defined

In [5]:
drinks.loc[::-1].head()

NameError: name 'drinks' is not defined

In [6]:
drinks.loc[::-1]reset_index(drop=True).head()

SyntaxError: invalid syntax (<ipython-input-6-35571932627a>, line 1)