## String

In [2]:
nome = "Marcelo Bragatte"
print(nome)

Marcelo Bragatte

In [3]:
nome.upper()

'MARCELO BRAGATTE'

In [4]:
nome.lower()

'marcelo bragatte'

In [5]:
nome[8:13]

'Braga'

In [6]:
nome[::-1] # -> start; stop; step

'ettagarB olecraM'

In [7]:
nome[::4] #two steps

'MeBa'

## Numbers

In [8]:
type(1)

int

In [9]:
type(1.)

float

In [10]:
type(True)

bool

In [11]:
print(1 + 1. + True) # soma
print(2 ** 3)        # potência
print(3 * 2)         # muiltiplicação
print(3 / 2)         # divisão
print( 3 % 2)        # resto da divisão
print( 3 // 2)       # divisão inteira

3.0
8
6
1.5
1
1

#### Listas
* list comprehension

In [12]:
minha_lista = ["Bragatte", 35, ["Sá", "Doug", "Bebel"], True ]

In [13]:
len(minha_lista) # Quantidade de elementos na lista

4

In [14]:
minha_lista[0] # Primeiro elemento

'Bragatte'

In [15]:
minha_lista[-1]

True

In [16]:
minha_lista[2][0]

'Sá'

In [17]:
minha_lista[2][::-1]

['Bebel', 'Doug', 'Sá']

#### Dicionários

In [18]:
dados = {"nomes":["Bragatte", "Sá", "Doug", "Bebel"],
        "sobrenome":["Bragatte", "Guedes", "Guedes_Bragatte","Guedes_Bragatte"],
        "idade": [35, 37, 2, 2]}

In [19]:
dados["nomes"][0]

'Bragatte'

    Adicionando dados no dic

In [20]:
dados["genero"] = ["M","F","M","F"]

In [21]:
dados

{'nomes': ['Bragatte', 'Sá', 'Doug', 'Bebel'],
 'sobrenome': ['Bragatte', 'Guedes', 'Guedes_Bragatte', 'Guedes_Bragatte'],
 'idade': [35, 37, 2, 2],
 'genero': ['M', 'F', 'M', 'F']}

In [22]:
dados["nomes"][0].title()

'Bragatte'

#### If, Else, Elif

In [23]:
idade = input("Entre com a sua idade")
idade = int(idade)
if idade <18:
    print("Beba leite ou suco preferencialmente.")
elif idade <= 65:
    print("Beba com parcimônia e se beber não dirija.")
else:
    print("Não ingerir bebida alcóolica com medicamentos.")

Entre com a sua idade 17

Beba leite ou suco preferencialmente.

#### For & While

In [24]:
for i in range(10):
    if i % 2 == 0:
        print(i, "é par")
    else:
        print(i, "é impar")

0 é par
1 é impar
2 é par
3 é impar
4 é par
5 é impar
6 é par
7 é impar
8 é par
9 é impar

while True:
    print("Esse não para!")

In [25]:
i  = 1
while True:
    print(i)
    if i == 10:
        break
    i+=1 #mesmo que i=i+1

1
2
3
4
5
6
7
8
9
10

In [26]:
#alternativa  
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### Funções

In [27]:
def calc_cubo(x):
    return x ** 3

In [28]:
calc_cubo(4)

64

In [29]:
def funcao_bivariada(x, y):
    return 2 * x + 4 * (y ** 3)

In [30]:
funcao_bivariada(10, 4)

276

## Finalmente, Pandas!!

Fingindo um pouco a análise de dados

### Comandos básicos

* Importação da biblioteca
* O que são Series e Dataframes?
    - Criando o primeiro dataframe
* Leitura de arquivos
* Escrita de arquivos
* Operações básicas de DataFrame

In [31]:
import pandas as pd

### Séries

In [32]:
minha_serie = pd.Series( ["Bragatte", "Sá", "Doug", "Bebel"] )
minha_serie

0    Bragatte
1          Sá
2        Doug
3       Bebel
dtype: object

In [33]:
minha_serie[1:]

1       Sá
2     Doug
3    Bebel
dtype: object

In [34]:
minha_serie.name

In [35]:
dados = ["Bragatte", "Sá", "Doug", "Bebel"]
nova_serie = pd.Series(dados, name="nome")

In [36]:
nova_serie == "Bebel"

0    False
1    False
2    False
3     True
Name: nome, dtype: bool

In [37]:
idade = pd.Series( [35,37,2,2] )
idade

0    35
1    37
2     2
3     2
dtype: int64

In [38]:
idade * 10

0    350
1    370
2     20
3     20
dtype: int64

### Data Frames

In [39]:
dados = {"nomes":["Bragatte", "Sá", "Doug", "Bebel"],
        "sobrenome":["Bragatte", "Guedes", "Guedes_Bragatte","Guedes_Bragatte"],
        "idade": [35, 37, 2, 2]}
df_dados = pd.DataFrame(dados)

In [40]:
df_dados

      nomes        sobrenome  idade
0  Bragatte         Bragatte     35
1        Sá           Guedes     37
2      Doug  Guedes_Bragatte      2
3     Bebel  Guedes_Bragatte      2

In [41]:
dados["nomes"]

['Bragatte', 'Sá', 'Doug', 'Bebel']

In [42]:
df_dados["nomes"]

0    Bragatte
1          Sá
2        Doug
3       Bebel
Name: nomes, dtype: object

In [43]:
#método converter série em lista
df_dados["nomes"].tolist()
#alternativa
#list(df_dados["nomes"])

['Bragatte', 'Sá', 'Doug', 'Bebel']

## Importando dados

#### Exemplo

In [44]:
df_votacao = pd.read_csv("../dados/votacao_agg_estado.csv")

/home/bragatte/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### Rede

In [45]:
df_rede = pd.read_csv("../dados/rede.csv")

### Dataframe

In [46]:
df = pd.DataFrame(df_votacao)
df.head()

,ano_eleicao,descricao_eleicao,numero_turno,nome_partido,numero_partido,sigla_partido,descricao_cargo,descricao_situacao_candidatura,descricao_situacao_candidatura_superior,nome,...,total_votos_to,total_votos_pa,total_votos_ms,total_votos_pi,total_votos_ma,total_votos_df,total_votos_es,total_votos_rr,total_votos_sc,total_votos
0,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DEMOCRATICO TRABALHISTA,12,PDT,GOVERNADOR,DEFERIDO,APTO,AMAZONINO ARMANDO MENDES,...,0,0,0,0,0,0,0,0,0,577397
1,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DO MOVIMENTO DEMOCRATICO BRASILEIRO,15,PMDB,GOVERNADOR,DEFERIDO,APTO,CARLOS EDUARDO DE SOUZA BRAGA,...,0,0,0,0,0,0,0,0,0,377680
2,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO DOS TRABALHADORES,13,PT,GOVERNADOR,DEFERIDO,APTO,JOSE RICARDO WENDLING,...,0,0,0,0,0,0,0,0,0,181257
3,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO HUMANISTA DA SOLIDARIEDADE,31,PHS,GOVERNADOR,DEFERIDO,APTO,MAURICIO WILKER DE AZEVEDO BARRETO,...,0,0,0,0,0,0,0,0,0,22623
4,2014,ELEICAO SUPLEMENTAR GOVERNADOR AM,1,PARTIDO PATRIA LIVRE,54,PPL,GOVERNADOR,DEFERIDO,APTO,JADELVONE NOGUEIRA DELTRUDES,...,0,0,0,0,0,0,0,0,0,3362

#exibir todas as linhas e colunas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [47]:
#Quantas linhas e colunas?
df_votacao.shape

(511105, 43)

In [48]:
#Quais são as colunas?
df_votacao.columns

Index(['ano_eleicao', 'descricao_eleicao', 'numero_turno', 'nome_partido',
       'numero_partido', 'sigla_partido', 'descricao_cargo',
       'descricao_situacao_candidatura',
       'descricao_situacao_candidatura_superior', 'nome', 'nome_social',
       'nome_urna', 'numero_sequencial', 'numero_urna', 'total_votos_ac',
       'total_votos_al', 'total_votos_am', 'total_votos_ap', 'total_votos_ba',
       'total_votos_rj', 'total_votos_sp', 'total_votos_ce', 'total_votos_ro',
       'total_votos_se', 'total_votos_pr', 'total_votos_mg', 'total_votos_mt',
       'total_votos_pe', 'total_votos_pb', 'total_votos_zz', 'total_votos_go',
       'total_votos_rs', 'total_votos_rn', 'total_votos_to', 'total_votos_pa',
       'total_votos_ms', 'total_votos_pi', 'total_votos_ma', 'total_votos_df',
       'total_votos_es', 'total_votos_rr', 'total_votos_sc', 'total_votos'],
      dtype='object')

In [49]:
#visualizar colunas em lista
df_votacao.columns.tolist()

['ano_eleicao',
 'descricao_eleicao',
 'numero_turno',
 'nome_partido',
 'numero_partido',
 'sigla_partido',
 'descricao_cargo',
 'descricao_situacao_candidatura',
 'descricao_situacao_candidatura_superior',
 'nome',
 'nome_social',
 'nome_urna',
 'numero_sequencial',
 'numero_urna',
 'total_votos_ac',
 'total_votos_al',
 'total_votos_am',
 'total_votos_ap',
 'total_votos_ba',
 'total_votos_rj',
 'total_votos_sp',
 'total_votos_ce',
 'total_votos_ro',
 'total_votos_se',
 'total_votos_pr',
 'total_votos_mg',
 'total_votos_mt',
 'total_votos_pe',
 'total_votos_pb',
 'total_votos_zz',
 'total_votos_go',
 'total_votos_rs',
 'total_votos_rn',
 'total_votos_to',
 'total_votos_pa',
 'total_votos_ms',
 'total_votos_pi',
 'total_votos_ma',
 'total_votos_df',
 'total_votos_es',
 'total_votos_rr',
 'total_votos_sc',
 'total_votos']

In [50]:
df_votacao.index

RangeIndex(start=0, stop=511105, step=1)

 ### Utilitarios

In [51]:
df_votacao.info() #coluna nome_social provavelmente com algum erro

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511105 entries, 0 to 511104
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ano_eleicao                              511105 non-null  int64
 1   descricao_eleicao                        511105 non-null  object
 2   numero_turno                             511105 non-null  int64
 3   nome_partido                             511105 non-null  object
 4   numero_partido                           511105 non-null  int64
 5   sigla_partido                            511105 non-null  object
 6   descricao_cargo                          511105 non-null  object
 7   descricao_situacao_candidatura           511105 non-null  object
 8   descricao_situacao_candidatura_superior  484655 non-null  object
 9   nome                                     511105 non-null  object
 10  nome_social                              0 non-null       float64
 11  nome_urna                                511095 non-null  object
 12  numero_sequencial                        511105 non-null  int64
 13  numero_urna                              511105 non-null  int64
 14  total_votos_ac                           511105 non-null  int64
 15  total_votos_al                           511105 non-null  int64
 16  total_votos_am                           511105 non-null  int64
 17  total_votos_ap                           511105 non-null  int64
 18  total_votos_ba                           511105 non-null  int64
 19  total_votos_rj                           511105 non-null  int64
 20  total_votos_sp                           511105 non-null  int64
 21  total_votos_ce                           511105 non-null  int64
 22  total_votos_ro                           511105 non-null  int64
 23  total_votos_se                           511105 non-null  int64
 24  total_votos_pr                           511105 non-null  int64
 25  total_votos_mg                           511105 non-null  int64
 26  total_votos_mt                           511105 non-null  int64
 27  total_votos_pe                           511105 non-null  int64
 28  total_votos_pb                           511105 non-null  int64
 29  total_votos_zz                           511105 non-null  int64
 30  total_votos_go                           511105 non-null  int64
 31  total_votos_rs                           511105 non-null  int64
 32  total_votos_rn                           511105 non-null  int64
 33  total_votos_to                           511105 non-null  int64
 34  total_votos_pa                           511105 non-null  int64
 35  total_votos_ms                           511105 non-null  int64
 36  total_votos_pi                           511105 non-null  int64
 37  total_votos_ma                           511105 non-null  int64
 38  total_votos_df                           511105 non-null  int64
 39  total_votos_es                           511105 non-null  int64
 40  total_votos_rr                           511105 non-null  int64
 41  total_votos_sc                           511105 non-null  int64
 42  total_votos                              511105 non-null  int64
dtypes: float64(1), int64(34), object(8)
memory usage: 167.7+ MB

In [52]:
df_votacao.info() #mostra dados da série

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511105 entries, 0 to 511104
Data columns (total 43 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   ano_eleicao                              511105 non-null  int64
 1   descricao_eleicao                        511105 non-null  object
 2   numero_turno                             511105 non-null  int64
 3   nome_partido                             511105 non-null  object
 4   numero_partido                           511105 non-null  int64
 5   sigla_partido                            511105 non-null  object
 6   descricao_cargo                          511105 non-null  object
 7   descricao_situacao_candidatura           511105 non-null  object
 8   descricao_situacao_candidatura_superior  484655 non-null  object
 9   nome                                     511105 non-null  object
 10  nome_social                              0 non-null       float64
 11  nome_urna                                511095 non-null  object
 12  numero_sequencial                        511105 non-null  int64
 13  numero_urna                              511105 non-null  int64
 14  total_votos_ac                           511105 non-null  int64
 15  total_votos_al                           511105 non-null  int64
 16  total_votos_am                           511105 non-null  int64
 17  total_votos_ap                           511105 non-null  int64
 18  total_votos_ba                           511105 non-null  int64
 19  total_votos_rj                           511105 non-null  int64
 20  total_votos_sp                           511105 non-null  int64
 21  total_votos_ce                           511105 non-null  int64
 22  total_votos_ro                           511105 non-null  int64
 23  total_votos_se                           511105 non-null  int64
 24  total_votos_pr                           511105 non-null  int64
 25  total_votos_mg                           511105 non-null  int64
 26  total_votos_mt                           511105 non-null  int64
 27  total_votos_pe                           511105 non-null  int64
 28  total_votos_pb                           511105 non-null  int64
 29  total_votos_zz                           511105 non-null  int64
 30  total_votos_go                           511105 non-null  int64
 31  total_votos_rs                           511105 non-null  int64
 32  total_votos_rn                           511105 non-null  int64
 33  total_votos_to                           511105 non-null  int64
 34  total_votos_pa                           511105 non-null  int64
 35  total_votos_ms                           511105 non-null  int64
 36  total_votos_pi                           511105 non-null  int64
 37  total_votos_ma                           511105 non-null  int64
 38  total_votos_df                           511105 non-null  int64
 39  total_votos_es                           511105 non-null  int64
 40  total_votos_rr                           511105 non-null  int64
 41  total_votos_sc                           511105 non-null  int64
 42  total_votos                              511105 non-null  int64
dtypes: float64(1), int64(34), object(8)
memory usage: 167.7+ MB

In [53]:
df_votacao.dtypes

ano_eleicao                                  int64
descricao_eleicao                           object
numero_turno                                 int64
nome_partido                                object
numero_partido                               int64
sigla_partido                               object
descricao_cargo                             object
descricao_situacao_candidatura              object
descricao_situacao_candidatura_superior     object
nome                                        object
nome_social                                float64
nome_urna                                   object
numero_sequencial                            int64
numero_urna                                  int64
total_votos_ac                               int64
total_votos_al                               int64
total_votos_am                               int64
total_votos_ap                               int64
total_votos_ba                               int64
total_votos_rj                               int64
total_votos_sp                               int64
total_votos_ce                               int64
total_votos_ro                               int64
total_votos_se                               int64
total_votos_pr                               int64
total_votos_mg                               int64
total_votos_mt                               int64
total_votos_pe                               int64
total_votos_pb                               int64
total_votos_zz                               int64
total_votos_go                               int64
total_votos_rs                               int64
total_votos_rn                               int64
total_votos_to                               int64
total_votos_pa                               int64
total_votos_ms                               int64
total_votos_pi                               int64
total_votos_ma                               int64
total_votos_df                               int64
total_votos_es                               int64
total_votos_rr                               int64
total_votos_sc                               int64
total_votos                                  int64
dtype: object

In [54]:
df_rede.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 16 columns):
 #   Column                                                                                                                                                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                        --------------  -----
 0   Carimbo de data/hora                                                                                                                                                                                                                                                          83 non-null     object
 1   Nome completo:                                                                                                                                                                                                                                                                83 non-null     object
 2   Idade:                                                                                                                                                                                                                                                                        83 non-null     int64
 3   Cidade:                                                                                                                                                                                                                                                                       83 non-null     object
 4   Estado (Sigla)                                                                                                                                                                                                                                                                83 non-null     object
 5   Formação acadêmica:                                                                                                                                                                                                                                                           83 non-null     object
 6   Profissão atual:                                                                                                                                                                                                                                                              83 non-null     object
 7   Onde já trabalhou:                                                                                                                                                                                                                                                            83 non-null     object
 8   Link currículo Lattes e/ou Linkedin:                                                                                                                                                                                                                                          83 non-null     object
 9   WhatsApp (escreva o celular no formato (xx) x xxxx-xxxx):                                                                                                                                                                                                                     83 non-null     object
 10  Você autoriza a publicação de seu nome nos veículos de divulgação da Rede Análise COVID-19?                                                                                                                                                                                   83 non-null     object
 11  Você está ciente que qualquer informação sobre a estrutura, coordenação, organização e composição da Rede Análise COVID-19 SEM AUTORIZAÇÃO DOS COORDENADORES ou MEMBROS (no caso de informações individuais) acarretará no desligamento automático da Rede Análise COVID-19?  83 non-null     object
 12  Estou ciente de todas as informações acima expostas e gostaria de ingressar na Rede Análise COVID-19                                                                                                                                                                          83 non-null     object
 13  Unnamed: 13                                                                                                                                                                                                                                                                   4 non-null      object
 14  Unnamed: 14                                                                                                                                                                                                                                                                   3 non-null      object
 15  Unnamed: 15                                                                                                                                                                                                                                                                   3 non-null      object
dtypes: int64(1), object(15)
memory usage: 10.5+ KB

### Navegar pelo DataFrame

In [55]:
type(df_votacao["nome"])

pandas.core.series.Series

In [56]:
df_votacao["nome"]

0                   AMAZONINO ARMANDO MENDES
1              CARLOS EDUARDO DE SOUZA BRAGA
2                      JOSE RICARDO WENDLING
3         MAURICIO WILKER DE AZEVEDO BARRETO
4               JADELVONE NOGUEIRA DELTRUDES
                         ...
511100          MARCOS JOSE ROCHA DOS SANTOS
511101        ANTONIO CARLOS VALADARES FILHO
511102     JOAO ALBERTO RODRIGUES CAPIBERIBE
511103              MARCIO LUIZ FRANCA GOMES
511104             RODRIGO SOBRAL ROLLEMBERG
Name: nome, Length: 511105, dtype: object

### Filtros

In [57]:
#df_votacao["COLUNA"]["INDICE"]
df_votacao["nome"][511100]

'MARCOS JOSE ROCHA DOS SANTOS'

In [58]:
#Navegando colunas
df_votacao["sigla_partido"][0]

'PDT'

In [59]:
#todas as infos sobre linha 0
df_votacao.iloc[0]

ano_eleicao                                                             2014
descricao_eleicao                          ELEICAO SUPLEMENTAR GOVERNADOR AM
numero_turno                                                               1
nome_partido                                 PARTIDO DEMOCRATICO TRABALHISTA
numero_partido                                                            12
sigla_partido                                                            PDT
descricao_cargo                                                   GOVERNADOR
descricao_situacao_candidatura                                      DEFERIDO
descricao_situacao_candidatura_superior                                 APTO
nome                                                AMAZONINO ARMANDO MENDES
nome_social                                                              NaN
nome_urna                                                   AMAZONINO MENDES
numero_sequencial                                                40000012067
numero_urna                                                               12
total_votos_ac                                                             0
total_votos_al                                                             0
total_votos_am                                                        577397
total_votos_ap                                                             0
total_votos_ba                                                             0
total_votos_rj                                                             0
total_votos_sp                                                             0
total_votos_ce                                                             0
total_votos_ro                                                             0
total_votos_se                                                             0
total_votos_pr                                                             0
total_votos_mg                                                             0
total_votos_mt                                                             0
total_votos_pe                                                             0
total_votos_pb                                                             0
total_votos_zz                                                             0
total_votos_go                                                             0
total_votos_rs                                                             0
total_votos_rn                                                             0
total_votos_to                                                             0
total_votos_pa                                                             0
total_votos_ms                                                             0
total_votos_pi                                                             0
total_votos_ma                                                             0
total_votos_df                                                             0
total_votos_es                                                             0
total_votos_rr                                                             0
total_votos_sc                                                             0
total_votos                                                           577397
Name: 0, dtype: object

In [60]:
#iloc busca [linha, coluna]
df_votacao.iloc[0, 9]

'AMAZONINO ARMANDO MENDES'

In [61]:
#iloc busca [linha, coluna] por nome coluna
df_votacao.iloc[0]["nome"]

'AMAZONINO ARMANDO MENDES'

In [66]:
df_dados

      nomes        sobrenome  idade
0  Bragatte         Bragatte     35
1        Sá           Guedes     37
2      Doug  Guedes_Bragatte      2
3     Bebel  Guedes_Bragatte      2

In [76]:
filtro_idade = df_dados["idade"] >= 28
filtro_idade

0     True
1     True
2    False
3    False
Name: idade, dtype: bool

In [77]:
df_dados[filtro_idade]

      nomes sobrenome  idade
0  Bragatte  Bragatte     35
1        Sá    Guedes     37

In [74]:
filtro = [True, True, False, False]
filtro

[True, True, False, False]

In [78]:
df_dados[filtro]

      nomes sobrenome  idade
0  Bragatte  Bragatte     35
1        Sá    Guedes     37

In [100]:
df_dados[df_dados["sobrenome"] == "Bragatte"]

      nomes sobrenome  idade
0  Bragatte  Bragatte     35

Filtros Rede

In [96]:
df_rede["Idade:"]

0     31
1     35
2     38
3     38
4     31
      ..
78    24
79    25
80    22
81    25
82    23
Name: Idade:, Length: 83, dtype: int64

In [99]:
#age0_19 = df_rede["Idade:"] >= 19 
age20_29 = df_rede["Idade:"] <= 20>=29

SyntaxError: invalid syntax (<ipython-input-99-b765bf26309c>, line 2)