 https://www.youtube.com/watch?v=V0AWyzVMf54&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=13


# 13. How do I change the data type of a pandas Series?

In [2]:
import pandas as pd

In [3]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
drinks.dtypes # inform the types of each Series

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

# Convert the dataframe  example: int64 to float
## to overwrite the existent table
put the name of the table before the command line

In [5]:
# change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html

In [10]:
drinks.dtypes # Now it is possible to do math in 'beer_servings'

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

# # Prepare before open: int64 to float

In [6]:
# alternatively, change the data type of a Series while reading in a file
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings':float})
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [8]:
orders = pd.read_table('http://bit.ly/chiporders')

/home/bragatte/Downloads/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [9]:
orders.dtypes # object == string

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [10]:
# convert a string to a number in order to do math
orders.item_price.str.replace('$','').astype(float).mean() #.astype(float) necessary to change the object to float

7.464335785374297

In [11]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [12]:
# convert a boolean Series to an integer (False = 0, True = 1)
orders.item_name.str.contains('Chicken').astype(int).head() #Convert bool to True=1 and False=0

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int64